.App {
  text-align: center;
}

button.custom-btn{
  width: 140px;
  height: 60px;
  font-style: italic;
  background: linear-gradient(violet, gray)
}

button {
  cursor:pointer;
}

button:hover{
  filter:brightness(1.2)
}